@import 'other/styles/variables';
@import 'other/styles/mixins';

.Video {
  background: $color-primary;
  padding: 173px 0;

  @include breakpoint(xlg) {
    padding: 40px 0;
  }

  @include breakpoint(lg) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include breakpoint(lg) {
    padding: 45px 0;
  }
}